<div id="footer">
  <div class="footer_infos">
        <div class="footer-category">
          <h4 role="presentation"><div>The Honest Meal</div></h4>
            <div class="footer-title">
              <li>Actualités</li>
              <li>Règles</li>
              <li>Aide</li>
            </div>
        </div>


        <div class="footer-category">
          <h4 role="presentation"><div>Decouvrir</div></h4>
            <div class="footer-title">
              <li>Un réseau basé sur la confiance</li>
              <li>Devenir acteur du réseau The Honest Meal</li>
            </div>
        </div>

<!--       <div class="col-3">
        <div class="footer-category">
          <h4 role="presentation"><div>Voyager</div></h4>
            <div class="footer-title">
              <li>Pourquoi utiliser notre application</li>
              <li>Le guide du bon loueur</li>
              <li>Louer responsable</li>
              <li>La communauté</li>
            </div>
        </div>
      </div> -->

        <div class="footer-links">
          <ul class="footer-category">
            <li class="social-logos"><span><a href="https://github.com/Benoit-Baumann/low-boat-homie" target="_blank"><i class="fab fa-sm fa-github"></i></a></span>
            <span><a href="mailto:jgregoire9244@hotmail.fr"><i class="fas fa-sm fa-at"></i></a></span>
            <span><a href="https://trello.com/b/Z1vSWMQl/bienvenue-sur-trello" target="_blank"><i class="fab fa-sm fa-trello"></i></a></span>
            <span><a href="#"><i class="fab fa-sm fa-twitter"></i></a></span>
            <span><a href="#"><i class="fab fa-sm fa-linkedin"></i></a></span></li>
            <li>Conditions</li>
            <li>Plan du site</li>
            <li>Fonctionnement du site</li>
          </ul>
        </div>
  </div>

  <div class="footer-copyright text-center">
  Made with <i class="fas fa-heart"></i> at LeWagon Lyon (Batch 308)
  </div>

</div>
